.Users {
  width: 100%;
  border-radius: 5px;
  background: #333336;
  color: #fff;
  padding: 18px 28px;

  .peopleCount {
    font-size: 13px;
    padding-left: 2px;

    strong {
      padding-left: 6px;
    }
  }
}
