.LogoutButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  padding: 3px 2px;

  button {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 3px;
    padding: 2px 9px;
  }
}
