.LogoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  .userLogin {
    font-size: 14px;
    padding-bottom: 2px;
  }

  .logout {
    padding: 0 3px 0 9px;
    font-size: 28px;
    cursor: pointer;
  }
}
