.UserItem {
  display: flex;
  padding-top: 15px;

  .userAvatar {
    border-radius: 5px;
    cursor: pointer;
    width: 65px;
    height: 65px;
  }

  .descBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;

    div {
      padding: 0 7px;
    }

    .name {
      font-size: 18px;
      padding-bottom: 5px;

      strong {
        cursor: pointer;
      }
    }

    .status {
      font-size: 13px;
    }

    button {
      padding: 7px 12px;
      font-size: 13px;
      border-radius: 5px;
      width: 105px;   
    }
  }
}
