.Navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20%;
  margin-right: 10px;
  height: 500px;
  border-radius: 5px;
  background: #333336;

  div {
    a {
      color: #fff;
    }
  }
}
