.ProfileInfo {
  display: flex;
  width: 100%;
  color: #fff;

  > div {
    border-radius: 5px;
    background: #4c5f6b;
    padding: 15px;
  }

  .avatarBlock {
    max-width: 235px;
    width: 50%;
    height: 100%;
    margin-right: 15px;

    img {
      width: 100%;
      border-radius: 4px;
    }

    > input {
      display: none;
    }

    label {
      display: block;
      border-radius: 4px;
      margin-top: 10px;
      padding: 9px 0;
      text-align: center;
      transition: 0.2s;
      font-size: 13px;
      cursor: pointer;
      background: #fff;
      color: #000;

      &:hover {
        background: #4c5f6b;
        color: #fff;
      }
    }
  }

  .descBlock {
    width: 100%;
    height: 100%;
    font-size: 13px;

    .fullName {
      font-size: 24px;
    }

    .mainInfo {
      padding-top: 45px;

      p {
        font-size: 16px;
      }

      ul {
        padding: 20px 0 35px 0;
      }
    }
  }
}
